<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img width="600" src="https://i.ytimg.com/vi/ccTzBCZm_eM/maxresdefault.jpg">
    <h1>
        Hello World
    </h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio laudantium facilis porro a doloribus dolores consequuntur provident possimus veritatis id, eveniet ratione, quae illo temporibus sunt voluptatem doloremque fugit!
    </p>
</body>
</html>