{% extends 'index.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="{{ user.profile.avatar.url }}" width="300">
            <h1>{{ user.username }}</h1>
            <p>{{ user.first_name }}</p>
            <p>{{ user.last_name }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.profile.bio }}</p>
            <p>{{ user.date_joined }}</p>


            <a class="nav-link" href="/logout/">Logout</a>
            <a href="/profile/update/">Update</a>
        </div>
    </div>
</div>

{% for product in user.products.all %}

<div class="card" style="width: 18rem;">
    <img src="/media/{{ product.photo }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }} {{ product.price }}</h5>
      <p class="card-text">{{ product.created_at }}</p>
      {% for categorie in product.categories.all %}
        <a href="#">
            <span class="btn btn-secondary">#{{ categorie.title}}</span>
        </a>
      {% endfor %}
      <a href="/products/{{ product.id }}/" class="btn btn-primary">Перейти</a>
    </div>
  </div>
{% endfor %}

{% endblock %}